################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
obj/
out/
Debug/
node_modules/
/.paket/Paket.Restore.targets
/paket-files
*.fsproj.user
