################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
obj/
out/bundle.js
out/bundle.js.map
Debug/
node_modules/
/paket-files
*.fsproj.user
